#clouds-container {
	height: 260px;
	overflow: hidden;
}

.cloud {
	position: absolute;
	background: no-repeat;
}

#cloud1 {
	background-image: url("../assets/clouds/1.png");
	width: 160px; height: 100px;

	z-index: 1;
	top: 100px; left: 70%;
	opacity: 0.6;
}

#cloud2 {
	background-image: url("../assets/clouds/2.png");

	width: 160px; height: 120px;

	z-index: 2;
	top: 180px; left: 8%;
	opacity: 0.9;
}

#cloud3 {
	
}

#cloud4 {
	
}

#cloud5 {
	
}

/*#cloud2 {
	background-image: url("../assets/clouds/2.png");
	width: 160px; height: 120px;

	position: relative; z-index: 2;
	top: 0px; left: -75%;
	opacity: 0.8;

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}*/

	/*-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;*/

@-webkit-keyframes moveclouds {
	from { margin-left: 100%; }
	to { margin-left: -100%; }
}
@-moz-keyframes moveclouds {
	from { margin-left: 100%; }
	to { margin-left: -100%; }
}
@-o-keyframes moveclouds {
	from { margin-left: 0%; }
	to { margin-left: -100%; }
}