@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	margin: 0; padding: 0;

	font-family: "Open Sans";
	font-size: 15px;
	line-height: 24px;
	color: rgba(0,0,0, 0.8);

	background: -webkit-linear-gradient(top, #6ea8c0, #c9dbe9, #f8ffff 350px);
	background:    -moz-linear-gradient(top, #6ea8c0, #c9dbe9, #f8ffff 350px);
	background:         linear-gradient(top, #6ea8c0, #c9dbe9, #f8ffff 350px);
	background-color: #f8ffff;
	background-repeat: no-repeat;

	-webkit-text-size-adjust:100%;
}

#header h1 {
	margin: 0; padding: 0;
	display: block;

	position: absolute; z-index: 6;

	top: 90px; left: 12%;

	color: white;
	font-weight: 300; font-size: 60px;
}

#header h1 #first {
	font-weight: 300;
	font-style: italic;
}

nav {
	overflow: hidden;
}

#nav {
	margin: 30px 10% 0 0; padding: 0;

	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	color: rgba(255,255,255, 0.7);

	list-style-type: none;
	float: right;
}

#nav li {
	float: left;
}

#nav li a {
	margin: 0; padding: 5px 10px;
	display: block;

	color: rgba(255,255,255, 0.6);
	text-decoration: none;

	transition-duration: 0.2s;
	transition-property: background, border, color;
}

#nav li + li {
	margin-left: 5px;
}

#nav li[selected] a {
	color: rgba(255,255,255, 0.8);
}

#nav li[selected]::after {
	display: block;
	content: "";

	margin: 5px auto 0;
	width: 75%;

	border-bottom: 2px solid rgba(255,255,255, 0.75);
}

#nav li:hover a {
	color: white;
	border-radius: 3px;
}

#content {
	max-width: 900px; height: 400px;
	margin: auto; padding: 0 10%;
}

@media screen and (max-width: 1100px) {
	#nav {
		margin-right: 30px;
	}
}

@media screen and (max-width: 950px) {
	#header h1 {
		margin-top: 20px;
	}
}

@media screen and (max-width: 700px) {
	body {
		font-size: 14px;
		line-height: 22px;
	}
	#header h1 {
		font-size: 48px;
	}
	#nav {
		font-size: 16px;
	}
}

@media screen and (max-width: 600px) {
	#content {
		padding: 0 8%;
	}
}